driver = mysql
connect = host=127.0.0.1 dbname=mailserver user=mailuser password={{ secrets.mailuser_password_plain }}
default_pass_scheme = SHA256-CRYPT
password_query = SELECT email as user, password FROM virtual_users WHERE email='%u';
